<h1>Create Workout</h1><hr>

<div class="col-md-4">


		<h3>Select Category</h3>
		{{#each model.category as |cat|}}	
			<button class="list-group-item"{{action "toggleExercise" cat}}>{{cat.name}}</button>
		{{/each}}	
	<hr>
		{{#if expanded}}
		<h3>Select Exercise</h3>
		{{#each model.category as |cat|}}	
			{{#if cat.showExercise}}
				{{#each cat.exercise as |ex|}}
					<button class="list-group-item"{{action "addExercise" ex}}>{{ex.name}}</button>
				{{/each}}
			{{else}}


			{{/if}}
		{{/each}}
		{{else}}

		{{/if}}		


</div>
<div class="col-md-4 margin33">

{{errorhere}}
{{#each model.workout.exercise as |ex|}}
<div class="list-group-item">
{{ex.name}}<br>
</div>
{{/each}}



</div>

