<!-- Modal -->
<div id="notmyModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Client Actions</h4>
      </div>
      <div class="modal-body">
        <p><a href="/vchat" onclick="$('#myModal').modal('hide')">Initiate Video Conference</a></p>
        <h4>Name: {{prof.basicinfo.firstname}} {{prof.basicinfo.firstname}}</h4>
        <h4>Gender: {{prof.basicinfo.gender}}</h4>
        <h4>Age: {{prof.basicinfo.age}}</h4>
        {{#if isTrain}}
          <button type="button" class="btn btn-danger" data-dismiss="modal">Remove Client</button>
        {{else}}
          <button type="button" class="btn btn-danger" data-dismiss="modal">Remove Client</button>
        {{/if}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#notmyModal">Actions</button>


{{yield}}
