
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">

      {{#link-to 'application' class="navbar-brand"}}
      Simple
      {{/link-to}}
    </div>

      <ul class="nav navbar-nav">
        {{#bs-dropdown tagName="li"}}
        {{#bs-dropdown-toggle}}Trainer <span class="caret"></span>{{/bs-dropdown-toggle}}
        {{#bs-dropdown-menu}}
          {{#if (eq auth.user.basicprofile.membertype "trainer")}}
          <li>{{#link-to "trainer"}}Trainer Home{{/link-to}}</li>
          {{else}}
          <li>{{#link-to "index"}}Client Home{{/link-to}}</li>
          {{/if}}

        {{/bs-dropdown-menu}}
        {{/bs-dropdown}}

        {{#bs-dropdown tagName="li"}}
        {{#bs-dropdown-toggle}}Dietitian <span class="caret"></span>{{/bs-dropdown-toggle}}
        {{#bs-dropdown-menu}}
          {{#if (eq auth.user.basicprofile.membertype "trainer")}}
          <li>{{#link-to "dietitian"}}Dietitian Home{{/link-to}}</li>
          {{else}}
          <li>{{#link-to "dclient"}}Client Home{{/link-to}}</li>
          {{/if}}
          <li>{{#link-to "recipes"}}Recipes{{/link-to}}</li>
          <li>{{#link-to "vchat"}}Video Chat{{/link-to}}</li>
        
        {{/bs-dropdown-menu}}
        {{/bs-dropdown}}

        {{#unless (eq auth.user.basicprofile.membertype "trainer")}}
          {{#bs-dropdown tagName="li"}}
          {{#bs-dropdown-toggle}}Marketplace <span class="caret"></span>{{/bs-dropdown-toggle}}
          {{#bs-dropdown-menu}}
            <li>{{#link-to "market"}}Trainer Market{{/link-to}}</li>
            <li>{{#link-to "market"}}Dietitian Market{{/link-to}}</li>
          {{/bs-dropdown-menu}}
          {{/bs-dropdown}}
        {{/unless}}
        {{#if (eq auth.user.basicprofile.membertype "trainer")}}
          {{#if auth.user.basicprofile.trainerprofile.trainerpending}}
          {{#if value}}
          {{#bs-modal open=showNotifications title="Notifications" footer=false}}
            {{render "notifications"}}
          {{/bs-modal}}
          {{else}}
          {{/if}}

          <button class="btn btn-danger navbar-btn" type="button" {{action "showNotifications"}}>new alert!</button>
          {{else}}
          <button class="btn navbar-btn" type="button" {{action "showNotifications"}}>no alerts</button>

          {{/if}}
        {{/if}}
  
    </ul>
    <div class="nav-login">
      <ul class="nav navbar-nav navbar-right">
        <li>
          {{auth-manager}}
        </li>
      </ul>
    </div>
    
    
  </div>
</nav>
