
{{#if (eq auth.user.basicprofile.membertype "trainer")}}



{{!-- {{#each model as |basicprofile|}} --}}
{{!-- {{basicprofile.clientprofile.id}}
{{basic}} --}}
{{!-- {{#each model as |client|}}
{{client.id}}
{{/each}} --}}
{{#each auth.user.basicprofile.trainerprofile.trainerpending as |clientprofile|}}
	
	<table class="table">
	<div class="container-fluid">
	{{request-list client=clientprofile}}
  	

	

    
   	</div>

   	</table>
  

{{/each}}

{{!-- {{/each}} --}}
{{/if}}

{{#if (eq auth.user.basicprofile.membertype "dietitian")}}



{{!-- {{#each model as |basicprofile|}} --}}
{{!-- {{basicprofile.clientprofile.id}}
{{basic}} --}}
{{!-- {{#each model as |client|}}
{{client.id}}
{{/each}} --}}
{{#each auth.user.basicprofile.dietitianprofile.dietitianpending as |clientprofile|}}
	
	<table class="table">
	<div class="container-fluid">
	{{request-list client=clientprofile}}
  	

	

    
   	</div>

   	</table>
  

{{/each}}

{{!-- {{/each}} --}}

{{else}}
You must login as a trainer or dietitian to view notifications

{{/if}}
