{{!-- Search --}}
{{#if (eq auth.user.basicprofile.membertype "client")}}

{{#if auth.user.basicprofile.clientprofile.trainer.id}}
You have a trainer.

{{else}}

{{!-- if for if you have a pending request --}}
{{#if auth.user.basicprofile.clientprofile.trainerpending.id}}
  You have a pending trainer request. <br>
   Name of trainer you requested: {{auth.user.basicprofile.clientprofile.trainerpending.basicinfo.firstname}}<br>
   Cancel request?<br>
   <button type="submit" class="btn" {{action "cancelRequest"}}>Cancel</button>
    
  



 {{!-- else for if you have a pending request --}}
{{else}}
<h1>Request a trainer:</h1>

{{#each model as |basicprofile|}}
	{{#if (eq basicprofile.membertype "trainer")}}
	<table class="table">
  
	<div class="container-fluid">

  	
    <h4>Name: {{basicprofile.firstname}} {{basicprofile.lastname}}</h4>
    <h4>Gender: {{basicprofile.gender}}</h4>
    <h4>Age: {{basicprofile.age}}</h4>
    <h4>Certification: {{basicprofile.trainerprofile.certification}}</h4>
    <button type="submit" class="btn" {{action "requestTrainer" basicprofile}}>Request</button>
   	</div>

   	</table>
  
  	{{else}}
  
  	{{/if}}
{{/each}}
 {{/if}}



{{/if}}

 {{else}}


Login as client user to do this
{{/if}}