
<h2>{{model.title}}</h2>
<br>
<img src="{{model.image}}" height="200" widtch="200">
<br>
<br>
<ul>
  <h4>Ingredient List</h4>
  {{#each model.ingredients as |ing|}}
    <li>{{ing}}</li>
  {{/each}}
</ul>
<ul>
  <h4>Steps</h4>
  <ol>
  {{#each model.steps as |step|}}
    <li>{{model.steps}}</li>
  {{/each}}
</ol>
</ul>

{{outlet}}
