
{{#if (eq auth.user.basicprofile.membertype "trainer")}}

{{!-- 
<button type="submit" class="btn" {{action "" client}}>Action</button>
     --}}

<div class="page-header">
  <h1>{{auth.user.basicprofile.firstname}} Home Page<br><small>Client List</small></h1>
</div>
<div class="row">
{{#each auth.user.basicprofile.trainerprofile.trainer as |client|}}
    <div class="col-xs-6 col-md-3">
      <div class="thumbnail">
        <img src="http://www.unomaha.edu/college-of-information-science-and-technology/_files/images/faculty/Profile%20Head%20Shots/Matt%20Hale.jpg" height="242" width="200">
      <div class="caption">
          <h3>{{client.basicinfo.firstname}} {{client.basicinfo.lastname}}</h3>
          <a href="/users/{{client.id}}">User Profile</a>
          <br>
          <!-- Trigger the modal with a button -->
          <p>{{client-actions prof=client isTrain=true}}</p>
        </div>
      </div>
    </div>
{{/each}}
</div>

{{!-- {{/each}} --}}

{{else}}
<h2>You must login as trainer to view trainer clients</h2>

{{/if}}





{{!-- 


<h2>Fake Client List</h2>
Leave this here. You will want to use this as example of how to modify data.
<ul class="row-fluid">
  {{#each model as |client|}}
    <li class="client">
      <h4>{{client.firstname}} {{client.lastname}}
      <button type="submit" class="btn btn-xs glyphicon glyphicon-remove" {{ action "delclient" client}}></button>
      </h4>
    </li>
  {{/each}}
<br>
<form class="" method="post" {{ action "addclient" on="submit"}}>
    First name: {{input value=firstname}}
    Last name: {{input value=lastname}}
    <button type="submit" class="btn">Save</button>
</form>
</ul>

{{outlet}} --}}