<h1>Trainer Home Page</h1>
Gib: Please set this up for me the way you want it and I will make those connections for you.
Do the marketplace too, thanks lol.
<h2> Real Client Page </h2>
{{#if (eq auth.user.basicprofile.membertype "trainer")}}




{{#each auth.user.basicprofile.trainerprofile.trainer as |clientprofile|}}
  
  <table class="table">
  <div class="container-fluid">
  First Name: {{clientprofile.basicinfo.firstname}}<br>
  Last Name: {{clientprofile.basicinfo.lastname}}<br>
<button type="submit" class="btn" {{action "" client}}>Action</button>
    

  

    
    </div>

    </table>
  

{{/each}}

{{!-- {{/each}} --}}

{{else}}
You must login as trainer to view trainer clients

{{/if}}


<h2>Fake Client List</h2>
Leave this here. You will want to use this as example of how to modify data.
<ul class="row-fluid">
  {{#each model as |client|}}
    <li class="client">
      <h4>{{client.firstname}} {{client.lastname}}
      <button type="submit" class="btn btn-xs glyphicon glyphicon-remove" {{ action "delclient" client}}></button>
      </h4>
    </li>
  {{/each}}
<br>
<form class="" method="post" {{ action "addclient" on="submit"}}>
    First name: {{input value=firstname}}
    Last name: {{input value=lastname}}
    <button type="submit" class="btn">Save</button>
</form>

</ul>